:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

*, *::before, *::after {
  box-sizing: border-box;
}

[data-theme="dark"] body {
  --pink: #d989b5;
  --mauve: #a885d8;
  --red: #e64553;
  --maroon: #c17a85;
  --peach: #e5874f;
  --yellow: #df8e1d;
  --green: #40a02b;
  --teal: #179299;
  --sky: #04a5e5;
  --sapphire: #209fb5;
  --blue: #1e66f5;
  --lavender: #7287fd;

  --text: #dfdfdf;
  --subtext0: #c0c0c0;
  --subtext1: #ababab;

  --background: #171719;
  --dark-bg: #111111;
  --contrast-border: #000000;
  --surface0: #252529;
  --surface1: #3c3c41;
  --surface2: #4b4b51;
}
[data-theme="light"] body {
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;

  --text: #272728;
  --subtext0: #3a3b3c;
  --subtext1: #4f4f52;

  --background: #eff1f5;
  --dark-bg: #e6e9ef;
  --contrast-border: #ffffff;
  --surface0: #dcdfe8;
  --surface1: #cdd0da;
  --surface2: #b7bac8;
}

body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
  
  background-color: var(--background);
}

#app {
  width: 100%;
}

h1 {
  color: var(--text);
  margin: 0;
  padding: 0;
}
p {
  color: var(--text);
  margin: 0;
  padding: 1em;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--crust);
}

button.pink {
  --color: var(--pink);
}
button.mauve {
  --color: var(--mauve);
}
button.red {
  --color: var(--red);
}
button.maroon {
  --color: var(--maroon);
}
button.peach {
  --color: var(--peach);
}
button.yellow {
  --color: var(--yellow);
}
button.green {
  --color: var(--green);
}
button.teal {
  --color: var(--teal);
}
button.sky {
  --color: var(--sky);
}
button.sapphire {
  --color: var(--sapphire);
}
button.blue {
  --color: var(--blue);
}
button.lavender {
  --color: var(--lavender);
}
button.gray {
  --color: var(--surface1);
}

button {
  color: var(--text);
  font-weight: 600;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 1em;
  background-color: var(--color);
  transition: background-color 0.2s ease-in-out;
  outline: none;
}
button:focus-visible {
  outline: 1px solid var(--teal);
  z-index: 1;
}
button:hover {
  background-color: color-mix(in srgb, var(--color), var(--background) 20%);
}